@import 'theme';
@import 'fonts';

div {
  padding: 2rem;
  text-align: center;
  background: $color3;

  h1 {
    color: $light-color;
    font-size: $h1-fz;
    margin-top: 0;
  }

  h2 {
    color: $light-color;
    font-size: $h2-fz;
    margin-bottom: 0;
  }
}
