<app-template-a [title]='title' [subtitle]='subtitle'>

  <app-table-light [headers]="headers">
    <tr *ngFor="let item of collection$ | async">
      <td>
        <app-edit (click)="edit(item)"></app-edit>
        <app-edit (click)="editForm(item)"></app-edit>
        <app-delete (click)="delete(item)"></app-delete>
      </td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
        </select>
      </td>
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency: 'EUR' }}</td>
      <td>{{ item | total | currency: 'EUR' }}</td>
      <td>{{ item | total: 'ttc' | currency: 'EUR' }}</td>


    </tr>

  </app-table-light>

  <app-btn route="add" label="Add an Order"></app-btn>
  <app-btn href="http://www.google.fr" label="Search on Google"></app-btn>
  <app-btn action="true" label="Popin add order" (clicked)="addForm()"></app-btn>
  <div class="right" [ngClass]="{'open': open}">
    <app-form-order  *ngIf="selectedItem" (submited)="onSubmited($event)" [item]="selectedItem"></app-form-order>
  </div>

</app-template-a>


