<div class="table-responsive">
  <table class="table table-dark" id="table-dark">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of headers">{{ item }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
