@import 'theme';

#table-light {

  .state-cancel,
  .state-inactive {
    background: $color-error;
  }

  .state-option {
    background: $color2;
  }

  .state-confirmed,
  .state-active {
    background: $color-success;
  }
}

app-template-a {
  #table-light {
    .state-option {
      background: $color3;
    }
  }
}

app-template-b {
  #table-light {
    .state-option {
      background: $color1;
    }
  }
}
