<header class="fixed-top">
  <app-nav *ngIf="!open; else close" (click)="toggle()"></app-nav> <!-- Action d'activation de la nav | "toggle()" action JS déclaré dans ui.component.ts -->

  <ng-template #close> <!-- Condition si clic sur le button app-nav qui affiche ou non le menu -->
    <app-close (click)="toggle()"></app-close>
  </ng-template>

  <ng-content select='.header'></ng-content> <!-- appel de component fix qui forme le squelette de la page -->

</header>

<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed" (click)="toggle()">
  </div>

  <aside>
    <div class="scroller">
      <ng-content select=".nav"></ng-content> <!-- appel de component fix qui forme le squelette de la page -->
    </div>
  </aside>

  <div class="page">

    <div class="contents">
      <ng-content select=".content"></ng-content> <!-- appel de component fix qui forme le squelette de la page -->
    </div>

    <footer>
      <ng-content select=".footer"></ng-content> <!-- appel de component fix qui forme le squelette de la page -->
    </footer>

  </div>
</main>
