<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="type">type</label>
    <input type="text" class="form-control" id="type" formControlName="typePresta">
    <div class="alert alert-danger" *ngIf="form.get('typePresta').invalid && form.get('typePresta').touched">Champs invalid</div>
  </div>

  <div class="form-group">
    <label for="client">client</label>
    <input type="text" class="form-control" id="client" formControlName="client">
    <div class="alert alert-danger" *ngIf="form.get('client').invalid && form.get('client').touched">Champs invalid</div>
  </div>

  <div class="form-group">
    <label for="nbJour">nbJour</label>
    <input type="number" class="form-control" id="nbJour" formControlName="nbJours">
  </div>

  <div class="form-group">
    <label for="tjmHt">tjmHt</label>
    <input type="number" class="form-control" id="tjmHt" formControlName="tjmHt">
  </div>

  <div class="form-group">
    <label for="tva">tva</label>
    <input type="number" class="form-control" id="tva" formControlName="tva">
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <select class="form-control" id="state" formControlName="state">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="comment">comment</label>
    <textarea class="form-control" id="comment" formControlName="comment"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>

</form>
