<app-template-b [title]='title' [subtitle]='subtitle' *ngIf="collection$ | async as collection">

  <app-table-dark [headers]="headers">

    <tr *ngFor="let item of collection" (click)="getItem(item)">
      <td>
        <app-edit (click)="edit(item)"></app-edit>
        <app-edit (click)="editForm(item)"></app-edit>
        <app-delete (click)="delete(item)"></app-delete>
      </td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)" (click)="$event.stopPropagation();">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
        </select>
      </td>
      <td>
        <app-delete (click)="delete(item)" (click)="$event.stopPropagation();"></app-delete>
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.ca | currency: 'EUR' }}</td>
      <td>{{ item.ca | totalttc | currency: 'EUR' }}</td>


    </tr>
  </app-table-dark>
  <app-btn route="add" label="Add a Client"></app-btn>

  <div class="right" [ngClass]="{'open':open}">
    <app-form-clients *ngIf="selectedItem" (submited)="onSubmited($event)" [item]="selectedItem"></app-form-clients>
  </div>

  <app-nav-inline [itemsLinks]='verticalNavLink'></app-nav-inline>
  <router-outlet ></router-outlet>

</app-template-b>
