@import "theme";
@import "layout";

.right {
  display: none;
  position: fixed;
  top: 65px;
  bottom: 0;
  right: 0;
}

.right.open {
  display: block;
  border-left: 1px solid darken($light-color, 20);
  background: $light-color;
  padding: 15px;
  width: 100%;
  overflow: auto;
}

@media (min-width: $sm-breakpoint) {
  .right.open {
    width: 50%;
  }
}

@media (min-width: $lg-breakpoint) {
  .right.open {
    width: 500px;
  }
}
