<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>

  <div class="form-group">
    <label for="ca">ca</label>
    <input type="number" class="form-control" id="ca" formControlName="ca">
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <select class="form-control" id="state" formControlName="state">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>

</form>
